.widget.widget_archive, .widget.widget_categories {
	ul {
		margin: 0;
		padding: 0;

		li {
			display: block;
		    width: 100%;
		    height: 40px;
		    text-align: center;
		    line-height: 40px;
		    background-color: $primary-bg;
		    border-bottom: 2px solid #FFFFFF;
		    transition: background-color 300ms;
		    cursor: pointer;

		    &:hover {
		    	background-color: $darkened-bg;
		    }
		}
	}
}