.full-width-header-image {
	background-size: cover;
	background-position: center center;
	margin-bottom: 25px;

    &:before {
    	content: '';
	    display: block;
	    padding-top: 25%;
	    width: 100%;
	    min-height: 200px;
	    max-height: 450px;
    }
}

@media (min-width: 1915px) {
	.full-width-header-image:before {
		padding-top: 0;
		height: 450px;
	}
} 
